* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiazed;
}

:root {
  --bg-page: #19A1AE;
  --bg-card: #FAFAFA;
  --text-primary: #2E3349;
  --text-secondary: #6B7082;
}

body {
  background: var(--bg-page);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-primary);
}

.bg-card-image {
  height: 8rem;
  width: 21.875rem;
  background-image: url('../assets/bg-profile.SVG');
  border-radius: 0.9375rem 0.9375rem 0 0;
}

section {
  background: var(--bg-card);
  max-width: 21.875rem;
  border-radius: 0.9375rem;
}

hr {
  width: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info img {
  height: 7.5rem;
  border-radius: 50%;
  margin-top: -3.75rem;
  border: 0.25rem solid var(--bg-card);
}

.info > h1 {
  margin: 1rem 0;
}

.info > h1 > span {
  font-weight: 400;
  color: var(--text-secondary);
}

.info > p {
  margin-bottom: 1rem;
}

.social-container {
  display: flex;
  width: 100%;
  padding: 1rem 0;
  justify-content: space-around;
}

.social {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}